html {
  box-sizing: border-box;
  touch-action: manipulation;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  font-family: $main-font, Arial, Helvetica, sans-serif;
  color: var(--app-color);
  background-color: var(--app-bg);
  min-width: 375px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  @include media-min ($xl) {
    font-size: 18px;
  }

}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  @include visually-hidden;
}

.is-disable {
  display: none !important;
}

.is-hidden {
  visibility: hidden !important;
}

.flex {
  display: flex;

  &--between {
    justify-content: space-between;
  }
}