.password-indicator {
  & use:first-child {
    display: inline;
  }

  & use:last-child {
    display: none;
  }

  &--hide {
    & use:first-child {
      display: none;
    }

    & use:last-child {
      display: inline;
    }
  }
}
